langchain
langchain-openai
langchain-google-genai
dotenv
streamlit
langchain-ollama
langchain-groq  
langchain-community
langgraph
pypdf
youtube-transcript-api
faiss-cpu
tiktoken
duckduckgo-search
langchain-core
pydantic
langchain-huggingface
grandalf   
python-dotenv
google-generativeai
langchain-text-splitters
chromadb
sentence-transformers
rich
 
        